<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,322}</string>
                <key>spriteSourceSize</key>
                <string>{323,322}</string>
                <key>textureRect</key>
                <string>{{1705,1104},{323,322}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 1 4 9 12 13 10 11 12 10 12 9 5 13 1 7 8 9 6 7 9 5 6 9 5 9 13 2 3 4 1 2 4 1 13 14 0 1 14</string>
                <key>vertices</key>
                <string>294 51 323 125 323 209 279 285 219 314 186 322 119 322 41 285 1 207 0 181 0 116 35 48 88 12 137 0 212 0</string>
                <key>verticesUV</key>
                <string>1999 1155 2028 1229 2028 1313 1984 1389 1924 1418 1891 1426 1824 1426 1746 1389 1706 1311 1705 1285 1705 1220 1740 1152 1793 1116 1842 1104 1917 1104</string>
            </dict>
            <key>04_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48.5,-10.5}</string>
                <key>spriteSize</key>
                <string>{1103,188}</string>
                <key>spriteSourceSize</key>
                <string>{1206,209}</string>
                <key>textureRect</key>
                <string>{{1,695},{1103,188}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 3 4 2 10 11 7 4 6 7 8 4 4 5 6 4 8 9 9 10 3 2 3 10 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>1106 75 1096 188 1065 209 170 209 123 175 81 206 37 175 3 126 8 32 199 22 633 22 1066 21</string>
                <key>verticesUV</key>
                <string>1104 749 1094 862 1063 883 168 883 121 849 79 880 35 849 1 800 6 706 197 696 631 696 1064 695</string>
            </dict>
            <key>05_bar_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{909,142}</string>
                <key>spriteSourceSize</key>
                <string>{1206,209}</string>
                <key>textureRect</key>
                <string>{{1,885},{909,142}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>1057 175 148 175 148 33 1057 33</string>
                <key>verticesUV</key>
                <string>910 1027 1 1027 1 885 910 885</string>
            </dict>
            <key>06_Play_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{1664,1},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 5 6 8 2 3 5 3 4 5 1 2 5 1 5 8 0 1 9</string>
                <key>vertices</key>
                <string>256 9 271 104 271 224 252 284 14 284 0 220 0 35 28 5 96 0 169 0</string>
                <key>verticesUV</key>
                <string>1920 10 1935 105 1935 225 1916 285 1678 285 1664 221 1664 36 1692 6 1760 1 1833 1</string>
            </dict>
            <key>06_Play_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{1533,490},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 7 9 1 6 7 4 6 4 5 2 3 4 1 2 4 7 1 4 0 1 10</string>
                <key>vertices</key>
                <string>265 25 271 113 271 243 245 283 184 284 36 284 0 248 0 66 5 9 75 0 215 0</string>
                <key>verticesUV</key>
                <string>1798 515 1804 603 1804 733 1778 773 1717 774 1569 774 1533 738 1533 556 1538 499 1608 490 1748 490</string>
            </dict>
            <key>08_Text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,1713},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 6 7 8 4 6 8 4 5 6 3 4 9 2 3 9 1 2 9 0 1 9</string>
                <key>vertices</key>
                <string>621 12 635 99 635 234 612 283 38 283 0 259 0 46 16 7 85 0 554 0</string>
                <key>verticesUV</key>
                <string>622 1725 636 1812 636 1947 613 1996 39 1996 1 1972 1 1759 17 1720 86 1713 555 1713</string>
            </dict>
            <key>08_Text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,1143},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 9 10 6 8 9 6 7 8 4 6 9 4 5 6 9 2 3 9 3 4 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>614 13 635 81 635 206 624 283 28 283 5 253 0 194 0 20 43 3 164 0 562 0</string>
                <key>verticesUV</key>
                <string>615 1156 636 1224 636 1349 625 1426 29 1426 6 1396 1 1337 1 1163 44 1146 165 1143 563 1143</string>
            </dict>
            <key>08_Text_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{638,1143},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 6 7 8 6 4 5 6 8 4 2 3 4 1 2 4 1 4 9 0 1 9</string>
                <key>vertices</key>
                <string>620 13 635 93 635 244 609 282 533 283 19 283 0 224 0 22 46 0 561 0</string>
                <key>verticesUV</key>
                <string>1258 1156 1273 1236 1273 1387 1247 1425 1171 1426 657 1426 638 1367 638 1165 684 1143 1199 1143</string>
            </dict>
            <key>08_Text_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,1428},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 5 9 4 6 7 8 6 9 5 6 8 9 2 3 4 2 4 10 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>614 15 635 78 635 207 625 277 578 283 28 283 0 237 0 13 71 1 177 0 568 0</string>
                <key>verticesUV</key>
                <string>615 1443 636 1506 636 1635 626 1705 579 1711 29 1711 1 1665 1 1441 72 1429 178 1428 569 1428</string>
            </dict>
            <key>09_star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{347,348}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1527,776},{347,348}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 13 14 11 12 14 5 6 7 10 8 9 10 11 8 11 14 5 5 7 8 11 5 8 1 5 14 1 3 4 1 4 5 1 2 3 0 1 14 0 14 15</string>
                <key>vertices</key>
                <string>199 5 253 71 342 98 350 150 340 178 295 223 306 314 259 346 162 316 96 350 45 305 55 238 4 159 3 95 97 70 146 2</string>
                <key>verticesUV</key>
                <string>1723 779 1777 845 1866 872 1874 924 1864 952 1819 997 1830 1088 1783 1120 1686 1090 1620 1124 1569 1079 1579 1012 1528 933 1527 869 1621 844 1670 776</string>
            </dict>
            <key>11_message_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1686,447}</string>
                <key>spriteSourceSize</key>
                <string>{1686,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{1686,447}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>19 40 41 20 39 40 36 21 22 36 37 38 33 35 36 33 34 35 36 38 39 33 25 26 26 32 33 27 31 32 28 29 30 27 28 30 27 30 31 26 27 32 33 36 25 22 23 24 22 24 25 22 25 36 36 39 21 20 21 39 19 20 40 18 19 41 17 18 41 0 16 17 14 15 16 13 14 16 5 12 13 2 13 16 2 5 13 8 9 10 12 5 6 12 6 11 11 6 7 11 7 8 8 10 11 3 4 5 2 3 5 0 2 16 0 1 2 0 17 41</string>
                <key>vertices</key>
                <string>1287 22 1403 52 1407 153 1582 131 1659 145 1565 238 1637 300 1671 353 1686 411 1686 447 1683 447 1625 406 1551 391 1472 398 1315 435 1297 417 1294 328 1166 313 1022 305 873 302 618 307 430 322 388 330 388 425 355 430 220 400 152 391 66 404 3 447 0 447 0 410 15 342 67 281 128 235 30 148 88 130 281 152 281 59 354 31 476 14 634 0 1051 0</string>
                <key>verticesUV</key>
                <string>1288 23 1404 53 1408 154 1583 132 1660 146 1566 239 1638 301 1672 354 1687 412 1687 448 1684 448 1626 407 1552 392 1473 399 1316 436 1298 418 1295 329 1167 314 1023 306 874 303 619 308 431 323 389 331 389 426 356 431 221 401 153 392 67 405 4 448 1 448 1 411 16 343 68 282 129 236 31 149 89 131 282 153 282 60 355 32 477 15 635 1 1052 1</string>
            </dict>
            <key>14_window_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1100,824},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1525 1124 1100 1124 1100 824 1525 824</string>
            </dict>
            <key>14_window_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{638,1730},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1063 2030 638 2030 638 1730 1063 1730</string>
            </dict>
            <key>14_window_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1492,1730},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1917 2030 1492 2030 1492 1730 1917 1730</string>
            </dict>
            <key>14_window_left_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1106,522},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 5 3 4 1 3 1 2 0 1 5</string>
                <key>vertices</key>
                <string>425 300 55 300 39 297 0 257 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1531 822 1161 822 1145 819 1106 779 1106 522 1531 522</string>
            </dict>
            <key>14_window_left_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1275,1126},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 17 34 0 425 0</string>
                <key>verticesUV</key>
                <string>1700 1426 1275 1426 1275 1143 1309 1126 1700 1126</string>
            </dict>
            <key>14_window_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{638,1428},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1063 1728 638 1728 638 1428 1063 1428</string>
            </dict>
            <key>14_window_right_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1065,1428},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>425 276 393 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1490 1704 1458 1728 1065 1728 1065 1428 1490 1428</string>
            </dict>
            <key>14_window_right_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1492,1428},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>425 62 425 300 0 300 0 0 394 0</string>
                <key>verticesUV</key>
                <string>1917 1490 1917 1728 1492 1728 1492 1428 1886 1428</string>
            </dict>
            <key>14_window_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1065,1730},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1490 2030 1065 2030 1065 1730 1490 1730</string>
            </dict>
            <key>15_slider_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{1067,243}</string>
                <key>spriteSourceSize</key>
                <string>{1111,273}</string>
                <key>textureRect</key>
                <string>{{1,450},{1067,243}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>1092 259 25 259 25 16 1092 16</string>
                <key>verticesUV</key>
                <string>1068 693 1 693 1 450 1068 450</string>
            </dict>
            <key>15_slider_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10.5,16.5}</string>
                <key>spriteSize</key>
                <string>{818,112}</string>
                <key>spriteSourceSize</key>
                <string>{1111,273}</string>
                <key>textureRect</key>
                <string>{{1,1029},{818,112}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>975 176 157 176 157 64 975 64</string>
                <key>verticesUV</key>
                <string>819 1141 1 1141 1 1029 819 1029</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-0.png</string>
            <key>size</key>
            <string>{2029,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa8ffca932199730c99877ef018e388:4c08e1ca79be9dfbe50225e8d71bacfe:9ea01dfa487e2528653397afe1492dc1$</string>
            <key>textureFileName</key>
            <string>ui-0.png</string>
        </dict>
    </dict>
</plist>
