<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,322}</string>
                <key>spriteSourceSize</key>
                <string>{323,322}</string>
                <key>textureRect</key>
                <string>{{1702,1102},{323,322}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 1 4 9 12 13 10 11 12 10 12 9 5 13 1 7 8 9 6 7 9 5 6 9 5 9 13 2 3 4 1 2 4 1 13 14 0 1 14</string>
                <key>vertices</key>
                <string>294 51 323 125 323 209 279 285 219 314 186 322 119 322 41 285 1 207 0 181 0 116 35 48 88 12 137 0 212 0</string>
                <key>verticesUV</key>
                <string>1996 1153 2025 1227 2025 1311 1981 1387 1921 1416 1888 1424 1821 1424 1743 1387 1703 1309 1702 1283 1702 1218 1737 1150 1790 1114 1839 1102 1914 1102</string>
            </dict>
            <key>04_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48.5,-10.5}</string>
                <key>spriteSize</key>
                <string>{1103,188}</string>
                <key>spriteSourceSize</key>
                <string>{1206,209}</string>
                <key>textureRect</key>
                <string>{{1,695},{1103,188}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>9 3 4 2 10 11 7 4 6 7 8 4 4 5 6 4 8 9 9 10 3 2 3 10 0 1 2 0 2 11</string>
                <key>vertices</key>
                <string>1106 75 1096 188 1065 209 170 209 123 175 81 206 37 175 3 126 8 32 199 22 633 22 1066 21</string>
                <key>verticesUV</key>
                <string>1104 749 1094 862 1063 883 168 883 121 849 79 880 35 849 1 800 6 706 197 696 631 696 1064 695</string>
            </dict>
            <key>05_bar_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{909,142}</string>
                <key>spriteSourceSize</key>
                <string>{1206,209}</string>
                <key>textureRect</key>
                <string>{{1,885},{909,142}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>1057 175 148 175 148 33 1057 33</string>
                <key>verticesUV</key>
                <string>910 1027 1 1027 1 885 910 885</string>
            </dict>
            <key>06_Play_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{1533,552},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 7 8 5 6 7 2 3 5 3 4 5 1 2 5 1 5 7 0 1 8</string>
                <key>vertices</key>
                <string>260 23 271 103 271 235 248 284 13 284 0 213 0 7 96 0 213 0</string>
                <key>verticesUV</key>
                <string>1793 575 1804 655 1804 787 1781 836 1546 836 1533 765 1533 559 1629 552 1746 552</string>
            </dict>
            <key>06_Play_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{1527,838},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 7 9 1 6 7 4 6 4 5 2 3 4 1 2 4 7 1 4 0 1 10</string>
                <key>vertices</key>
                <string>265 25 271 113 271 243 245 283 184 284 36 284 0 248 0 66 5 9 75 0 215 0</string>
                <key>verticesUV</key>
                <string>1792 863 1798 951 1798 1081 1772 1121 1711 1122 1563 1122 1527 1086 1527 904 1532 847 1602 838 1742 838</string>
            </dict>
            <key>08_Text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,1426},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 6 7 8 4 6 8 4 5 6 3 4 9 2 3 9 1 2 9 0 1 9</string>
                <key>vertices</key>
                <string>621 12 635 99 635 234 612 283 38 283 0 259 0 46 16 7 85 0 554 0</string>
                <key>verticesUV</key>
                <string>622 1438 636 1525 636 1660 613 1709 39 1709 1 1685 1 1472 17 1433 86 1426 555 1426</string>
            </dict>
            <key>08_Text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{638,1141},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 9 10 6 8 9 6 7 8 4 6 9 4 5 6 9 2 3 9 3 4 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>614 13 635 81 635 206 624 283 28 283 5 253 0 194 0 20 43 3 164 0 562 0</string>
                <key>verticesUV</key>
                <string>1252 1154 1273 1222 1273 1347 1262 1424 666 1424 643 1394 638 1335 638 1161 681 1144 802 1141 1200 1141</string>
            </dict>
            <key>08_Text_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,1711},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 6 7 8 6 4 5 6 8 4 2 3 4 1 2 4 1 4 9 0 1 9</string>
                <key>vertices</key>
                <string>620 13 635 93 635 244 609 282 533 283 19 283 0 224 0 22 46 0 561 0</string>
                <key>verticesUV</key>
                <string>621 1724 636 1804 636 1955 610 1993 534 1994 20 1994 1 1935 1 1733 47 1711 562 1711</string>
            </dict>
            <key>08_Text_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,1141},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 5 9 4 6 7 8 6 9 5 6 8 9 2 3 4 2 4 10 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>614 15 635 78 635 207 625 277 578 283 28 283 0 237 0 13 71 1 177 0 568 0</string>
                <key>verticesUV</key>
                <string>615 1156 636 1219 636 1348 626 1418 579 1424 29 1424 1 1378 1 1154 72 1142 178 1141 569 1141</string>
            </dict>
            <key>09_star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{347,348}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1646,154},{347,348}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 13 14 11 12 14 5 6 7 10 8 9 10 11 8 11 14 5 5 7 8 11 5 8 1 5 14 1 3 4 1 4 5 1 2 3 0 1 14 0 14 15</string>
                <key>vertices</key>
                <string>199 5 253 71 342 98 350 150 340 178 295 223 306 314 259 346 162 316 96 350 45 305 55 238 4 159 3 95 97 70 146 2</string>
                <key>verticesUV</key>
                <string>1842 157 1896 223 1985 250 1993 302 1983 330 1938 375 1949 466 1902 498 1805 468 1739 502 1688 457 1698 390 1647 311 1646 247 1740 222 1789 154</string>
            </dict>
            <key>11_message_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1686,447}</string>
                <key>spriteSourceSize</key>
                <string>{1686,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{1686,447}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>19 40 41 20 39 40 36 21 22 36 37 38 33 35 36 33 34 35 36 38 39 33 25 26 26 32 33 27 31 32 28 29 30 27 28 30 27 30 31 26 27 32 33 36 25 22 23 24 22 24 25 22 25 36 36 39 21 20 21 39 19 20 40 18 19 41 17 18 41 0 16 17 14 15 16 13 14 16 5 12 13 2 13 16 2 5 13 8 9 10 12 5 6 12 6 11 11 6 7 11 7 8 8 10 11 3 4 5 2 3 5 0 2 16 0 1 2 0 17 41</string>
                <key>vertices</key>
                <string>1287 22 1403 52 1407 153 1582 131 1659 145 1565 238 1637 300 1671 353 1686 411 1686 447 1683 447 1625 406 1551 391 1472 398 1315 435 1297 417 1294 328 1166 313 1022 305 873 302 618 307 430 322 388 330 388 425 355 430 220 400 152 391 66 404 3 447 0 447 0 410 15 342 67 281 128 235 30 148 88 130 281 152 281 59 354 31 476 14 634 0 1051 0</string>
                <key>verticesUV</key>
                <string>1288 23 1404 53 1408 154 1583 132 1660 146 1566 239 1638 301 1672 354 1687 412 1687 448 1684 448 1626 407 1552 392 1473 399 1316 436 1298 418 1295 329 1167 314 1023 306 874 303 619 308 431 323 389 331 389 426 356 431 221 401 153 392 67 405 4 448 1 448 1 411 16 343 68 282 129 236 31 149 89 131 282 153 282 60 355 32 477 15 635 1 1052 1</string>
            </dict>
            <key>14_window_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{638,1426},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1063 1726 638 1726 638 1426 1063 1426</string>
            </dict>
            <key>14_window_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{638,1728},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1063 2028 638 2028 638 1728 1063 1728</string>
            </dict>
            <key>14_window_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1065,1728},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1490 2028 1065 2028 1065 1728 1490 1728</string>
            </dict>
            <key>14_window_left_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1492,1426},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 4 5 3 4 1 3 1 2 0 1 5</string>
                <key>vertices</key>
                <string>425 300 55 300 39 297 0 257 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1917 1726 1547 1726 1531 1723 1492 1683 1492 1426 1917 1426</string>
            </dict>
            <key>14_window_left_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1106,520},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 17 34 0 425 0</string>
                <key>verticesUV</key>
                <string>1531 820 1106 820 1106 537 1140 520 1531 520</string>
            </dict>
            <key>14_window_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1275,1124},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1700 1424 1275 1424 1275 1124 1700 1124</string>
            </dict>
            <key>14_window_right_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1065,1426},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>425 276 393 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1490 1702 1458 1726 1065 1726 1065 1426 1490 1426</string>
            </dict>
            <key>14_window_right_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1100,822},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>425 62 425 300 0 300 0 0 394 0</string>
                <key>verticesUV</key>
                <string>1525 884 1525 1122 1100 1122 1100 822 1494 822</string>
            </dict>
            <key>14_window_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1492,1728},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>425 300 0 300 0 0 425 0</string>
                <key>verticesUV</key>
                <string>1917 2028 1492 2028 1492 1728 1917 1728</string>
            </dict>
            <key>15_slider_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{1067,243}</string>
                <key>spriteSourceSize</key>
                <string>{1111,273}</string>
                <key>textureRect</key>
                <string>{{1,450},{1067,243}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>1092 259 25 259 25 16 1092 16</string>
                <key>verticesUV</key>
                <string>1068 693 1 693 1 450 1068 450</string>
            </dict>
            <key>15_slider_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{816,110}</string>
                <key>spriteSourceSize</key>
                <string>{816,110}</string>
                <key>textureRect</key>
                <string>{{1,1029},{816,110}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>816 110 0 110 0 0 816 0</string>
                <key>verticesUV</key>
                <string>817 1139 1 1139 1 1029 817 1029</string>
            </dict>
            <key>16_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{135,1},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 0 3 6 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>72 13 38 64 29 64 4 21 0 13 0 0 72 0</string>
                <key>verticesUV</key>
                <string>207 14 173 65 164 65 139 22 135 14 135 1 207 1</string>
            </dict>
            <key>17_selection_bottom_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,131}</string>
                <key>spriteSourceSize</key>
                <string>{124,131}</string>
                <key>textureRect</key>
                <string>{{912,885},{124,131}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 0 1 2 0 2 3 0 3 4</string>
                <key>vertices</key>
                <string>64 70 124 72 124 131 0 131 0 0 59 0</string>
                <key>verticesUV</key>
                <string>976 955 1036 957 1036 1016 912 1016 912 885 971 885</string>
            </dict>
            <key>17_selection_bottom_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,131}</string>
                <key>textureRect</key>
                <string>{{148,4},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 1 2 3 0 1 3 5 0 3</string>
                <key>vertices</key>
                <string>132 131 0 131 0 71 73 67 73 0 132 0</string>
                <key>verticesUV</key>
                <string>280 135 148 135 148 75 221 71 221 4 280 4</string>
            </dict>
            <key>17_selection_top_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{1409,1},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 1 3 4 1 4 5 0 1 5</string>
                <key>vertices</key>
                <string>124 60 59 64 59 125 0 125 0 0 124 0</string>
                <key>verticesUV</key>
                <string>1533 61 1468 65 1468 126 1409 126 1409 1 1533 1</string>
            </dict>
            <key>17_selection_top_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,125}</string>
                <key>spriteSourceSize</key>
                <string>{132,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,125}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 0 1 3 1 2 3 0 3 6</string>
                <key>vertices</key>
                <string>132 1 132 125 72 125 68 59 0 59 0 0 131 0</string>
                <key>verticesUV</key>
                <string>133 2 133 126 73 126 69 60 1 60 1 1 132 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-0.png</string>
            <key>size</key>
            <string>{2026,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:035e4e157c6faba0b085bf86332f0537:0eb9f8954446af73f769dfde1a9a454f:9ea01dfa487e2528653397afe1492dc1$</string>
            <key>textureFileName</key>
            <string>ui-0.png</string>
        </dict>
    </dict>
</plist>
