<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_Exit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{893,332},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 4 2 3 4 5 6 1 2 4 1 4 6 1 6 9 0 1 9</string>
                <key>vertices</key>
                <string>257 9 271 104 271 240 246 283 46 283 10 274 0 214 0 16 50 0 178 0</string>
                <key>verticesUV</key>
                <string>1150 341 1164 436 1164 572 1139 615 939 615 903 606 893 546 893 348 943 332 1071 332</string>
            </dict>
            <key>01_Exit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{435,1713},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 1 7 9 4 2 3 4 5 6 4 6 2 1 2 6 1 6 7 0 1 9</string>
                <key>vertices</key>
                <string>256 20 271 96 271 220 258 283 46 283 6 276 0 197 0 45 21 0 213 0</string>
                <key>verticesUV</key>
                <string>691 1733 706 1809 706 1933 693 1996 481 1996 441 1989 435 1910 435 1758 456 1713 648 1713</string>
            </dict>
            <key>02_joystick_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,856},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 15 16 11 14 16 12 13 14 11 12 14 6 11 16 8 10 11 8 9 10 6 8 11 6 7 8 4 5 6 1 4 6 1 3 4 1 2 3 1 6 16 0 1 16</string>
                <key>vertices</key>
                <string>325 16 398 71 450 153 450 293 402 377 329 434 265 450 170 450 113 426 42 375 6 293 0 254 0 175 36 88 93 38 163 1 257 0</string>
                <key>verticesUV</key>
                <string>326 872 399 927 451 1009 451 1149 403 1233 330 1290 266 1306 171 1306 114 1282 43 1231 7 1149 1 1110 1 1031 37 944 94 894 164 857 258 856</string>
            </dict>
            <key>03_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,322}</string>
                <key>spriteSourceSize</key>
                <string>{323,322}</string>
                <key>textureRect</key>
                <string>{{1,1308},{323,322}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 1 4 9 12 13 10 11 12 10 12 9 5 13 1 7 8 9 6 7 9 5 6 9 5 9 13 2 3 4 1 2 4 1 13 14 0 1 14</string>
                <key>vertices</key>
                <string>294 51 323 125 323 209 279 285 219 314 186 322 119 322 41 285 1 207 0 181 0 116 35 48 88 12 137 0 212 0</string>
                <key>verticesUV</key>
                <string>295 1359 324 1433 324 1517 280 1593 220 1622 187 1630 120 1630 42 1593 2 1515 1 1489 1 1424 36 1356 89 1320 138 1308 213 1308</string>
            </dict>
            <key>05_Pause_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{715,1368},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 4 5 5 6 2 2 3 4 1 2 6 1 6 9 0 1 9</string>
                <key>vertices</key>
                <string>254 9 271 101 271 224 253 283 23 283 4 239 0 199 0 14 67 0 179 0</string>
                <key>verticesUV</key>
                <string>969 1377 986 1469 986 1592 968 1651 738 1651 719 1607 715 1567 715 1382 782 1368 894 1368</string>
            </dict>
            <key>05_Pause_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{442,1428},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 10 11 8 9 10 7 8 10 1 7 10 6 7 4 6 4 5 2 3 4 1 2 4 1 4 7 0 1 11</string>
                <key>vertices</key>
                <string>248 9 271 81 271 235 249 283 73 283 22 281 4 238 0 194 0 69 7 8 86 0 189 0</string>
                <key>verticesUV</key>
                <string>690 1437 713 1509 713 1663 691 1711 515 1711 464 1709 446 1666 442 1622 442 1497 449 1436 528 1428 631 1428</string>
            </dict>
            <key>05_Pause_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{720,1083},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 10 11 8 9 10 8 5 7 8 10 5 5 6 7 5 2 4 2 3 4 10 1 2 10 2 5 0 1 11</string>
                <key>vertices</key>
                <string>251 16 271 81 271 206 261 278 209 283 73 283 22 281 0 228 0 60 7 9 86 0 203 0</string>
                <key>verticesUV</key>
                <string>971 1099 991 1164 991 1289 981 1361 929 1366 793 1366 742 1364 720 1311 720 1143 727 1092 806 1083 923 1083</string>
            </dict>
            <key>06_Play_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{638,570},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 7 8 5 6 7 2 3 5 3 4 5 1 2 5 1 5 7 0 1 8</string>
                <key>vertices</key>
                <string>260 23 271 103 271 235 248 284 13 284 0 213 0 7 96 0 213 0</string>
                <key>verticesUV</key>
                <string>898 593 909 673 909 805 886 854 651 854 638 783 638 577 734 570 851 570</string>
            </dict>
            <key>06_Play_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{453,856},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 7 9 1 6 7 4 6 4 5 2 3 4 1 2 4 7 1 4 0 1 10</string>
                <key>vertices</key>
                <string>265 25 271 113 271 243 245 283 184 284 36 284 0 248 0 66 5 9 75 0 215 0</string>
                <key>verticesUV</key>
                <string>718 881 724 969 724 1099 698 1139 637 1140 489 1140 453 1104 453 922 458 865 528 856 668 856</string>
            </dict>
            <key>06_Play_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{447,1142},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 9 10 11 8 9 11 5 2 4 7 8 5 7 5 6 5 8 2 2 3 4 1 2 8 1 8 11 0 1 12</string>
                <key>vertices</key>
                <string>256 13 271 98 271 206 261 271 225 284 52 284 23 278 5 241 0 196 0 60 5 10 76 0 188 0</string>
                <key>verticesUV</key>
                <string>703 1155 718 1240 718 1348 708 1413 672 1426 499 1426 470 1420 452 1383 447 1338 447 1202 452 1152 523 1142 635 1142</string>
            </dict>
            <key>07_Reload_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{1,1632},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 0 6 7 5 6 3 5 3 4 1 2 3 0 1 3 0 3 6</string>
                <key>vertices</key>
                <string>271 75 271 219 258 279 201 283 36 283 0 247 0 39 23 0 245 0</string>
                <key>verticesUV</key>
                <string>272 1707 272 1851 259 1911 202 1915 37 1915 1 1879 1 1671 24 1632 246 1632</string>
            </dict>
            <key>07_Reload_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{708,1653},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 0 6 8 3 1 2 3 4 5 3 5 1 6 0 1 6 1 5</string>
                <key>vertices</key>
                <string>271 52 271 206 261 283 49 283 13 275 0 216 0 47 10 0 235 0</string>
                <key>verticesUV</key>
                <string>979 1705 979 1859 969 1936 757 1936 721 1928 708 1869 708 1700 718 1653 943 1653</string>
            </dict>
            <key>08_Text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 9 10 6 8 9 6 7 8 4 6 9 4 5 6 9 2 3 9 3 4 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>614 13 635 81 635 206 624 283 28 283 5 253 0 194 0 20 43 3 164 0 562 0</string>
                <key>verticesUV</key>
                <string>615 14 636 82 636 207 625 284 29 284 6 254 1 195 1 21 44 4 165 1 563 1</string>
            </dict>
            <key>08_Text_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,286},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 6 7 8 6 4 5 6 8 4 2 3 4 1 2 4 1 4 9 0 1 9</string>
                <key>vertices</key>
                <string>620 13 635 93 635 244 609 282 533 283 19 283 0 224 0 22 46 0 561 0</string>
                <key>verticesUV</key>
                <string>621 299 636 379 636 530 610 568 534 569 20 569 1 510 1 308 47 286 562 286</string>
            </dict>
            <key>08_Text_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,571},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 5 9 4 6 7 8 6 9 5 6 8 9 2 3 4 2 4 10 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>614 15 635 78 635 207 625 277 578 283 28 283 0 237 0 13 71 1 177 0 568 0</string>
                <key>verticesUV</key>
                <string>615 586 636 649 636 778 626 848 579 854 29 854 1 808 1 584 72 572 178 571 569 571</string>
            </dict>
            <key>09_star_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{347,348}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{638,1},{347,348}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>12 13 14 11 12 14 5 6 7 10 8 9 10 11 8 11 14 5 5 7 8 11 5 8 1 5 14 1 3 4 1 4 5 1 2 3 0 1 14 0 14 15</string>
                <key>vertices</key>
                <string>199 5 253 71 342 98 350 150 340 178 295 223 306 314 259 346 162 316 96 350 45 305 55 238 4 159 3 95 97 70 146 2</string>
                <key>verticesUV</key>
                <string>834 4 888 70 977 97 985 149 975 177 930 222 941 313 894 345 797 315 731 349 680 304 690 237 639 158 638 94 732 69 781 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-1.png</string>
            <key>size</key>
            <string>{1165,1997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:325b9c5c5e2bdf33a0bb6d84f4371789:097aac50b8b5e470b5490c78510c665f:9ea01dfa487e2528653397afe1492dc1$</string>
            <key>textureFileName</key>
            <string>ui-1.png</string>
        </dict>
    </dict>
</plist>
