<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_Exit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{911,327},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 4 2 3 4 5 6 1 2 4 1 4 6 1 6 9 0 1 9</string>
                <key>vertices</key>
                <string>257 9 271 104 271 240 246 283 46 283 10 274 0 214 0 16 50 0 178 0</string>
                <key>verticesUV</key>
                <string>1168 336 1182 431 1182 567 1157 610 957 610 921 601 911 541 911 343 961 327 1089 327</string>
            </dict>
            <key>01_Exit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{911,612},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 1 7 9 4 2 3 4 5 6 4 6 2 1 2 6 1 6 7 0 1 9</string>
                <key>vertices</key>
                <string>256 20 271 96 271 220 258 283 46 283 6 276 0 197 0 45 21 0 213 0</string>
                <key>verticesUV</key>
                <string>1167 632 1182 708 1182 832 1169 895 957 895 917 888 911 809 911 657 932 612 1124 612</string>
            </dict>
            <key>02_joystick_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,856},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 15 16 11 14 16 12 13 14 11 12 14 6 11 16 8 10 11 8 9 10 6 8 11 6 7 8 4 5 6 1 4 6 1 3 4 1 2 3 1 6 16 0 1 16</string>
                <key>vertices</key>
                <string>325 16 398 71 450 153 450 293 402 377 329 434 265 450 170 450 113 426 42 375 6 293 0 254 0 175 36 88 93 38 163 1 257 0</string>
                <key>verticesUV</key>
                <string>326 872 399 927 451 1009 451 1149 403 1233 330 1290 266 1306 171 1306 114 1282 43 1231 7 1149 1 1110 1 1031 37 944 94 894 164 857 258 856</string>
            </dict>
            <key>03_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,322}</string>
                <key>spriteSourceSize</key>
                <string>{323,322}</string>
                <key>textureRect</key>
                <string>{{638,1},{323,322}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 1 4 9 12 13 10 11 12 10 12 9 5 13 1 7 8 9 6 7 9 5 6 9 5 9 13 2 3 4 1 2 4 1 13 14 0 1 14</string>
                <key>vertices</key>
                <string>294 51 323 125 323 209 279 285 219 314 186 322 119 322 41 285 1 207 0 181 0 116 35 48 88 12 137 0 212 0</string>
                <key>verticesUV</key>
                <string>932 52 961 126 961 210 917 286 857 315 824 323 757 323 679 286 639 208 638 182 638 117 673 49 726 13 775 1 850 1</string>
            </dict>
            <key>05_Pause_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{453,1011},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 8 9 6 7 8 2 4 5 5 6 2 2 3 4 1 2 6 1 6 9 0 1 9</string>
                <key>vertices</key>
                <string>254 9 271 101 271 224 253 283 23 283 4 239 0 199 0 14 67 0 179 0</string>
                <key>verticesUV</key>
                <string>707 1020 724 1112 724 1235 706 1294 476 1294 457 1250 453 1210 453 1025 520 1011 632 1011</string>
            </dict>
            <key>05_Pause_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{547,1296},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 10 11 8 9 10 7 8 10 1 7 10 6 7 4 6 4 5 2 3 4 1 2 4 1 4 7 0 1 11</string>
                <key>vertices</key>
                <string>248 9 271 81 271 235 249 283 73 283 22 281 4 238 0 194 0 69 7 8 86 0 189 0</string>
                <key>verticesUV</key>
                <string>795 1305 818 1377 818 1531 796 1579 620 1579 569 1577 551 1534 547 1490 547 1365 554 1304 633 1296 736 1296</string>
            </dict>
            <key>05_Pause_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{274,1296},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 10 11 8 9 10 8 5 7 8 10 5 5 6 7 5 2 4 2 3 4 10 1 2 10 2 5 0 1 11</string>
                <key>vertices</key>
                <string>251 16 271 81 271 206 261 278 209 283 73 283 22 281 0 228 0 60 7 9 86 0 203 0</string>
                <key>verticesUV</key>
                <string>525 1312 545 1377 545 1502 535 1574 483 1579 347 1579 296 1577 274 1524 274 1356 281 1305 360 1296 477 1296</string>
            </dict>
            <key>06_Play_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{1,1308},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 7 8 5 6 7 2 3 5 3 4 5 1 2 5 1 5 7 0 1 8</string>
                <key>vertices</key>
                <string>260 23 271 103 271 235 248 284 13 284 0 213 0 7 96 0 213 0</string>
                <key>verticesUV</key>
                <string>261 1331 272 1411 272 1543 249 1592 14 1592 1 1521 1 1315 97 1308 214 1308</string>
            </dict>
            <key>06_Play_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{638,325},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 7 9 1 6 7 4 6 4 5 2 3 4 1 2 4 7 1 4 0 1 10</string>
                <key>vertices</key>
                <string>265 25 271 113 271 243 245 283 184 284 36 284 0 248 0 66 5 9 75 0 215 0</string>
                <key>verticesUV</key>
                <string>903 350 909 438 909 568 883 608 822 609 674 609 638 573 638 391 643 334 713 325 853 325</string>
            </dict>
            <key>06_Play_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{271,284}</string>
                <key>textureRect</key>
                <string>{{638,611},{271,284}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 11 12 9 10 11 8 9 11 5 2 4 7 8 5 7 5 6 5 8 2 2 3 4 1 2 8 1 8 11 0 1 12</string>
                <key>vertices</key>
                <string>256 13 271 98 271 206 261 271 225 284 52 284 23 278 5 241 0 196 0 60 5 10 76 0 188 0</string>
                <key>verticesUV</key>
                <string>894 624 909 709 909 817 899 882 863 895 690 895 661 889 643 852 638 807 638 671 643 621 714 611 826 611</string>
            </dict>
            <key>07_Reload_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{726,897},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 0 6 7 5 6 3 5 3 4 1 2 3 0 1 3 0 3 6</string>
                <key>vertices</key>
                <string>271 75 271 219 258 279 201 283 36 283 0 247 0 39 23 0 245 0</string>
                <key>verticesUV</key>
                <string>997 972 997 1116 984 1176 927 1180 762 1180 726 1144 726 936 749 897 971 897</string>
            </dict>
            <key>07_Reload_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{820,1182},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 7 8 0 6 8 3 1 2 3 4 5 3 5 1 6 0 1 6 1 5</string>
                <key>vertices</key>
                <string>271 52 271 206 261 283 49 283 13 275 0 216 0 47 10 0 235 0</string>
                <key>verticesUV</key>
                <string>1091 1234 1091 1388 1081 1465 869 1465 833 1457 820 1398 820 1229 830 1182 1055 1182</string>
            </dict>
            <key>08_Text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 9 10 6 8 9 6 7 8 4 6 9 4 5 6 9 2 3 9 3 4 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>614 13 635 81 635 206 624 283 28 283 5 253 0 194 0 20 43 3 164 0 562 0</string>
                <key>verticesUV</key>
                <string>615 14 636 82 636 207 625 284 29 284 6 254 1 195 1 21 44 4 165 1 563 1</string>
            </dict>
            <key>08_Text_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,286},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 6 7 8 6 4 5 6 8 4 2 3 4 1 2 4 1 4 9 0 1 9</string>
                <key>vertices</key>
                <string>620 13 635 93 635 244 609 282 533 283 19 283 0 224 0 22 46 0 561 0</string>
                <key>verticesUV</key>
                <string>621 299 636 379 636 530 610 568 534 569 20 569 1 510 1 308 47 286 562 286</string>
            </dict>
            <key>08_Text_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,283}</string>
                <key>spriteSourceSize</key>
                <string>{635,283}</string>
                <key>textureRect</key>
                <string>{{1,571},{635,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 9 10 5 9 4 6 7 8 6 9 5 6 8 9 2 3 4 2 4 10 1 2 10 0 1 10</string>
                <key>vertices</key>
                <string>614 15 635 78 635 207 625 277 578 283 28 283 0 237 0 13 71 1 177 0 568 0</string>
                <key>verticesUV</key>
                <string>615 586 636 649 636 778 626 848 579 854 29 854 1 808 1 584 72 572 178 571 569 571</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-1.png</string>
            <key>size</key>
            <string>{1183,1593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc82f28dccedea3d4942de421145f607:7dd6243104418b63f288b27d6c5753d5:9ea01dfa487e2528653397afe1492dc1$</string>
            <key>textureFileName</key>
            <string>ui-1.png</string>
        </dict>
    </dict>
</plist>
