<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_joystick_empty_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{1,286},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 10 11 8 9 10 7 8 10 7 2 4 5 6 7 4 5 7 2 3 4 7 1 2 1 7 10 0 1 11</string>
                <key>vertices</key>
                <string>255 11 271 92 271 207 261 277 215 283 36 283 3 261 0 179 0 65 8 5 96 0 195 0</string>
                <key>verticesUV</key>
                <string>256 297 272 378 272 493 262 563 216 569 37 569 4 547 1 465 1 351 9 291 97 286 196 286</string>
            </dict>
            <key>02_joystick_empty_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{1,1426},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 9 10 7 8 9 1 4 7 5 6 7 4 5 7 2 3 4 1 2 4 1 7 10 0 1 10</string>
                <key>vertices</key>
                <string>255 9 271 97 271 243 246 282 197 283 36 283 6 267 0 184 0 9 83 0 178 0</string>
                <key>verticesUV</key>
                <string>256 1435 272 1523 272 1669 247 1708 198 1709 37 1709 7 1693 1 1610 1 1435 84 1426 179 1426</string>
            </dict>
            <key>02_joystick_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{1,571},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 5 6 8 4 2 3 4 5 2 1 2 5 1 5 8 0 1 9</string>
                <key>vertices</key>
                <string>252 16 271 90 271 223 253 283 23 283 0 229 0 36 21 9 79 0 208 0</string>
                <key>verticesUV</key>
                <string>253 587 272 661 272 794 254 854 24 854 1 800 1 607 22 580 80 571 209 571</string>
            </dict>
            <key>02_joystick_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 7 9 6 2 9 1 4 5 6 2 3 4 2 6 9 6 2 4 0 1 10</string>
                <key>vertices</key>
                <string>251 11 271 88 271 206 260 283 54 283 18 278 0 224 0 24 36 4 94 0 183 0</string>
                <key>verticesUV</key>
                <string>252 12 272 89 272 207 261 284 55 284 19 279 1 225 1 25 37 5 95 1 184 1</string>
            </dict>
            <key>02_joystick_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,283}</string>
                <key>spriteSourceSize</key>
                <string>{270,283}</string>
                <key>textureRect</key>
                <string>{{274,286},{270,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 8 9 6 7 8 4 6 8 4 5 6 2 3 4 1 2 4 1 4 8 0 1 9</string>
                <key>vertices</key>
                <string>258 11 270 107 270 246 243 283 43 283 0 265 0 39 17 8 89 0 181 0</string>
                <key>verticesUV</key>
                <string>532 297 544 393 544 532 517 569 317 569 274 551 274 325 291 294 363 286 455 286</string>
            </dict>
            <key>12_music_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,283}</string>
                <key>spriteSourceSize</key>
                <string>{270,283}</string>
                <key>textureRect</key>
                <string>{{1,1711},{270,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 9 10 7 8 9 7 9 6 4 6 9 4 5 6 2 3 4 1 2 4 1 4 9 0 1 10</string>
                <key>vertices</key>
                <string>264 25 270 111 270 244 243 282 187 283 35 283 0 248 0 25 29 3 87 0 214 0</string>
                <key>verticesUV</key>
                <string>265 1736 271 1822 271 1955 244 1993 188 1994 36 1994 1 1959 1 1736 30 1714 88 1711 215 1711</string>
            </dict>
            <key>12_music_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{1,1141},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 8 9 6 7 8 6 8 1 5 6 1 5 1 4 1 2 3 8 0 1 4 1 3</string>
                <key>vertices</key>
                <string>271 65 271 206 260 268 229 283 36 283 0 247 0 64 6 10 78 0 241 0</string>
                <key>verticesUV</key>
                <string>272 1206 272 1347 261 1409 230 1424 37 1424 1 1388 1 1205 7 1151 79 1141 242 1141</string>
            </dict>
            <key>13_sound_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,283}</string>
                <key>spriteSourceSize</key>
                <string>{271,283}</string>
                <key>textureRect</key>
                <string>{{1,856},{271,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 9 10 7 8 9 0 7 9 6 7 4 6 4 5 3 4 7 1 2 3 0 1 3 0 3 7</string>
                <key>vertices</key>
                <string>271 57 271 240 248 280 195 283 48 283 27 278 1 245 0 181 0 17 60 0 238 0</string>
                <key>verticesUV</key>
                <string>272 913 272 1096 249 1136 196 1139 49 1139 28 1134 2 1101 1 1037 1 873 61 856 239 856</string>
            </dict>
            <key>13_sound_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,283}</string>
                <key>spriteSourceSize</key>
                <string>{270,283}</string>
                <key>textureRect</key>
                <string>{{274,1},{270,283}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 1 4 7 8 9 6 7 9 6 9 1 4 5 6 2 3 4 1 2 4 1 9 10 0 1 10</string>
                <key>vertices</key>
                <string>250 10 270 87 270 238 251 274 224 283 30 283 0 246 0 42 11 6 90 0 185 0</string>
                <key>verticesUV</key>
                <string>524 11 544 88 544 239 525 275 498 284 304 284 274 247 274 43 285 7 364 1 459 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-2.png</string>
            <key>size</key>
            <string>{545,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0220fcc4aa507bfa5f8341a65c2b85c4:c015c77c1c59020ca1726c8299deedbf:339991d22b7ff66906a8c405fe76ca0b$</string>
            <key>textureFileName</key>
            <string>ui-2.png</string>
        </dict>
    </dict>
</plist>
