<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_Exit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{878,634},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 0 5 7 2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>147 38 147 131 112 147 19 147 0 113 0 42 14 0 127 0</string>
                <key>verticesUV</key>
                <string>1025 672 1025 765 990 781 897 781 878 747 878 676 892 634 1005 634</string>
            </dict>
            <key>01_Exit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{778,485},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 2 3 4 2 4 0 0 4 5</string>
                <key>vertices</key>
                <string>147 37 147 147 0 147 0 16 33 0 127 0</string>
                <key>verticesUV</key>
                <string>925 522 925 632 778 632 778 501 811 485 905 485</string>
            </dict>
            <key>02_joystick_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,335},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 15 16 11 14 16 12 13 14 11 12 14 6 11 16 8 10 11 8 9 10 6 8 11 6 7 8 4 5 6 1 4 6 1 3 4 1 2 3 1 6 16 0 1 16</string>
                <key>vertices</key>
                <string>325 16 398 71 450 153 450 293 402 377 329 434 265 450 170 450 113 426 42 375 6 293 0 254 0 175 36 88 93 38 163 1 257 0</string>
                <key>verticesUV</key>
                <string>326 351 399 406 451 488 451 628 403 712 330 769 266 785 171 785 114 761 43 710 7 628 1 589 1 510 37 423 94 373 164 336 258 335</string>
            </dict>
            <key>02_joystick_thumb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{726,655},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 6 7 3 1 2 3 4 5 3 5 1 0 1 5 0 5 7</string>
                <key>vertices</key>
                <string>150 48 150 102 122 150 42 150 8 121 0 94 0 41 41 0 121 0</string>
                <key>verticesUV</key>
                <string>876 703 876 757 848 805 768 805 734 776 726 749 726 696 767 655 847 655</string>
            </dict>
            <key>03_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,322}</string>
                <key>spriteSourceSize</key>
                <string>{323,322}</string>
                <key>textureRect</key>
                <string>{{453,335},{323,322}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 1 4 9 12 13 10 11 12 10 12 9 5 13 1 7 8 9 6 7 9 5 6 9 5 9 13 2 3 4 1 2 4 1 13 14 0 1 14</string>
                <key>vertices</key>
                <string>294 51 323 125 323 209 279 285 219 314 186 322 119 322 41 285 1 207 0 181 0 116 35 48 88 12 137 0 212 0</string>
                <key>verticesUV</key>
                <string>747 386 776 460 776 544 732 620 672 649 639 657 572 657 494 620 454 542 453 516 453 451 488 383 541 347 590 335 665 335</string>
            </dict>
            <key>04_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-10.5}</string>
                <key>spriteSize</key>
                <string>{972,188}</string>
                <key>spriteSourceSize</key>
                <string>{1000,209}</string>
                <key>textureRect</key>
                <string>{{1,1},{972,188}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 2 7 8 4 5 6 4 6 3 2 3 7 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>1000 75 990 188 959 209 58 209 31 178 28 42 68 22 514 22 960 21</string>
                <key>verticesUV</key>
                <string>973 55 963 168 932 189 31 189 4 158 1 22 41 2 487 2 933 1</string>
            </dict>
            <key>05_Pause_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{1074,774},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 6 7 0 5 7 3 4 5 0 3 5 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>146 33 146 131 113 147 45 147 7 143 0 102 0 28 28 0 124 0</string>
                <key>verticesUV</key>
                <string>1220 807 1220 905 1187 921 1119 921 1081 917 1074 876 1074 802 1102 774 1198 774</string>
            </dict>
            <key>05_Pause_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{1060,145},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 9 10 6 8 9 6 7 8 3 6 10 4 5 6 3 4 6 1 2 3 1 3 10 0 1 10</string>
                <key>vertices</key>
                <string>127 3 146 36 146 135 107 147 40 147 4 139 0 100 0 11 38 1 48 0 99 0</string>
                <key>verticesUV</key>
                <string>1187 148 1206 181 1206 280 1167 292 1100 292 1064 284 1060 245 1060 156 1098 146 1108 145 1159 145</string>
            </dict>
            <key>05_Pause_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{1027,625},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 2 5 8 3 4 5 2 3 5 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>146 13 146 135 109 147 17 147 1 116 0 102 0 20 29 0 106 0</string>
                <key>verticesUV</key>
                <string>1173 638 1173 760 1136 772 1044 772 1028 741 1027 727 1027 645 1056 625 1133 625</string>
            </dict>
            <key>05_bar_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,0.5}</string>
                <key>spriteSize</key>
                <string>{909,142}</string>
                <key>spriteSourceSize</key>
                <string>{1000,209}</string>
                <key>textureRect</key>
                <string>{{1,191},{909,142}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>951 175 42 175 42 33 951 33</string>
                <key>verticesUV</key>
                <string>910 333 1 333 1 191 910 191</string>
            </dict>
            <key>06_Play_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{912,184},{146,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 4 6 0 2 3 4 0 1 2 4 0 2</string>
                <key>vertices</key>
                <string>146 32 146 136 105 148 3 148 0 100 0 15 40 0 123 0</string>
                <key>verticesUV</key>
                <string>1058 216 1058 320 1017 332 915 332 912 284 912 199 952 184 1035 184</string>
            </dict>
            <key>06_Play_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{975,1},{146,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 6 7 3 5 7 3 4 5 2 7 0 0 1 2 2 3 7</string>
                <key>vertices</key>
                <string>146 31 146 137 103 148 49 148 12 145 0 107 0 12 45 0 123 0</string>
                <key>verticesUV</key>
                <string>1121 32 1121 138 1078 149 1024 149 987 146 975 108 975 13 1020 1 1098 1</string>
            </dict>
            <key>06_Play_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,148}</string>
                <key>spriteSourceSize</key>
                <string>{147,148}</string>
                <key>textureRect</key>
                <string>{{777,335},{147,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 1 4 6 1 2 3 1 3 4 0 1 6</string>
                <key>vertices</key>
                <string>147 16 147 112 128 148 27 148 0 121 0 0 107 0</string>
                <key>verticesUV</key>
                <string>924 351 924 447 905 483 804 483 777 456 777 335 884 335</string>
            </dict>
            <key>06_Play_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{927,483},{146,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 3 5 7 3 4 5 2 0 1 2 3 0 0 3 7</string>
                <key>vertices</key>
                <string>146 28 146 130 115 146 96 148 0 148 0 40 20 0 118 0</string>
                <key>verticesUV</key>
                <string>1073 511 1073 613 1042 629 1023 631 927 631 927 523 947 483 1045 483</string>
            </dict>
            <key>07_Reload_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{926,334},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 2 0 1 2 3 4 2 4 0 0 4 6</string>
                <key>vertices</key>
                <string>147 36 147 123 121 147 17 147 0 112 0 0 125 0</string>
                <key>verticesUV</key>
                <string>1073 370 1073 457 1047 481 943 481 926 446 926 334 1051 334</string>
            </dict>
            <key>07_Reload_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{925,783},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 4 6 3 0 1 3 1 2 3 0 3 6</string>
                <key>vertices</key>
                <string>147 37 147 147 17 147 0 111 0 28 21 5 44 0 125 0</string>
                <key>verticesUV</key>
                <string>1072 820 1072 930 942 930 925 894 925 811 946 788 969 783 1050 783</string>
            </dict>
            <key>08_Text_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,148}</string>
                <key>spriteSourceSize</key>
                <string>{306,148}</string>
                <key>textureRect</key>
                <string>{{617,807},{306,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 8 9 6 7 8 3 6 8 5 6 3 5 3 4 2 3 8 1 2 9 0 1 9</string>
                <key>vertices</key>
                <string>306 10 306 136 256 148 64 148 15 144 0 111 0 51 6 7 67 0 261 0</string>
                <key>verticesUV</key>
                <string>923 817 923 943 873 955 681 955 632 951 617 918 617 858 623 814 684 807 878 807</string>
            </dict>
            <key>08_Text_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,148}</string>
                <key>spriteSourceSize</key>
                <string>{306,148}</string>
                <key>textureRect</key>
                <string>{{309,809},{306,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 8 9 6 8 4 6 4 5 6 7 8 3 4 9 1 2 3 1 3 9 0 1 9</string>
                <key>vertices</key>
                <string>288 5 306 39 306 132 269 148 27 148 0 129 0 37 15 7 49 0 241 0</string>
                <key>verticesUV</key>
                <string>597 814 615 848 615 941 578 957 336 957 309 938 309 846 324 816 358 809 550 809</string>
            </dict>
            <key>08_Text_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,148}</string>
                <key>spriteSourceSize</key>
                <string>{306,148}</string>
                <key>textureRect</key>
                <string>{{418,659},{306,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 7 8 3 7 2 5 7 4 4 7 3 5 6 7 1 2 8 0 1 8</string>
                <key>vertices</key>
                <string>306 9 306 139 245 148 16 148 0 112 0 37 17 2 92 0 259 0</string>
                <key>verticesUV</key>
                <string>724 668 724 798 663 807 434 807 418 771 418 696 435 661 510 659 677 659</string>
            </dict>
            <key>08_Text_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,148}</string>
                <key>spriteSourceSize</key>
                <string>{306,148}</string>
                <key>textureRect</key>
                <string>{{1,787},{306,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 5 6 4 2 3 4 5 2 1 2 6 0 1 6</string>
                <key>vertices</key>
                <string>306 15 306 148 64 148 0 140 0 26 27 0 261 0</string>
                <key>verticesUV</key>
                <string>307 802 307 935 65 935 1 927 1 813 28 787 262 787</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1221,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3758de02d601e02d2df627d85bd2487:09ef36f1f0e8148a0e6e25e99a0ddb70:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
