<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_Exit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{822,636},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 0 5 7 2 4 5 2 3 4 0 1 2 0 2 5</string>
                <key>vertices</key>
                <string>147 38 147 131 112 147 19 147 0 113 0 42 14 0 127 0</string>
                <key>verticesUV</key>
                <string>969 674 969 767 934 783 841 783 822 749 822 678 836 636 949 636</string>
            </dict>
            <key>01_Exit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{778,487},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 2 3 4 2 4 0 0 4 5</string>
                <key>vertices</key>
                <string>147 37 147 147 0 147 0 16 33 0 127 0</string>
                <key>verticesUV</key>
                <string>925 524 925 634 778 634 778 503 811 487 905 487</string>
            </dict>
            <key>02_joystick_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,335},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 15 16 11 14 16 12 13 14 11 12 14 6 11 16 8 10 11 8 9 10 6 8 11 6 7 8 4 5 6 1 4 6 1 3 4 1 2 3 1 6 16 0 1 16</string>
                <key>vertices</key>
                <string>325 16 398 71 450 153 450 293 402 377 329 434 265 450 170 450 113 426 42 375 6 293 0 254 0 175 36 88 93 38 163 1 257 0</string>
                <key>verticesUV</key>
                <string>326 351 399 406 451 488 451 628 403 712 330 769 266 785 171 785 114 761 43 710 7 628 1 589 1 510 37 423 94 373 164 336 258 335</string>
            </dict>
            <key>02_joystick_thumb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{769,335},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 6 7 3 1 2 3 4 5 3 5 1 0 1 5 0 5 7</string>
                <key>vertices</key>
                <string>150 48 150 102 122 150 42 150 8 121 0 94 0 41 41 0 121 0</string>
                <key>verticesUV</key>
                <string>919 383 919 437 891 485 811 485 777 456 769 429 769 376 810 335 890 335</string>
            </dict>
            <key>03_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,322}</string>
                <key>spriteSourceSize</key>
                <string>{323,322}</string>
                <key>textureRect</key>
                <string>{{453,335},{323,322}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 1 4 9 12 13 10 11 12 10 12 9 5 13 1 7 8 9 6 7 9 5 6 9 5 9 13 2 3 4 1 2 4 1 13 14 0 1 14</string>
                <key>vertices</key>
                <string>294 51 323 125 323 209 279 285 219 314 186 322 119 322 41 285 1 207 0 181 0 116 35 48 88 12 137 0 212 0</string>
                <key>verticesUV</key>
                <string>747 386 776 460 776 544 732 620 672 649 639 657 572 657 494 620 454 542 453 516 453 451 488 383 541 347 590 335 665 335</string>
            </dict>
            <key>04_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-10.5}</string>
                <key>spriteSize</key>
                <string>{972,188}</string>
                <key>spriteSourceSize</key>
                <string>{1000,209}</string>
                <key>textureRect</key>
                <string>{{1,1},{972,188}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 2 7 8 4 5 6 4 6 3 2 3 7 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>1000 75 990 188 959 209 58 209 31 178 28 42 68 22 514 22 960 21</string>
                <key>verticesUV</key>
                <string>973 55 963 168 932 189 31 189 4 158 1 22 41 2 487 2 933 1</string>
            </dict>
            <key>05_Pause_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{149,787},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 6 7 0 5 7 3 4 5 0 3 5 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>146 33 146 131 113 147 45 147 7 143 0 102 0 28 28 0 124 0</string>
                <key>verticesUV</key>
                <string>295 820 295 918 262 934 194 934 156 930 149 889 149 815 177 787 273 787</string>
            </dict>
            <key>05_Pause_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{822,785},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>6 9 10 6 8 9 6 7 8 3 6 10 4 5 6 3 4 6 1 2 3 1 3 10 0 1 10</string>
                <key>vertices</key>
                <string>127 3 146 36 146 135 107 147 40 147 4 139 0 100 0 11 38 1 48 0 99 0</string>
                <key>verticesUV</key>
                <string>949 788 968 821 968 920 929 932 862 932 826 924 822 885 822 796 860 786 870 785 921 785</string>
            </dict>
            <key>05_Pause_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{525,831},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 2 5 8 3 4 5 2 3 5 0 1 2 0 2 8</string>
                <key>vertices</key>
                <string>146 13 146 135 109 147 17 147 1 116 0 102 0 20 29 0 106 0</string>
                <key>verticesUV</key>
                <string>671 844 671 966 634 978 542 978 526 947 525 933 525 851 554 831 631 831</string>
            </dict>
            <key>05_bar_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3.5,0.5}</string>
                <key>spriteSize</key>
                <string>{909,142}</string>
                <key>spriteSourceSize</key>
                <string>{1000,209}</string>
                <key>textureRect</key>
                <string>{{1,191},{909,142}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>951 175 42 175 42 33 951 33</string>
                <key>verticesUV</key>
                <string>910 333 1 333 1 191 910 191</string>
            </dict>
            <key>06_Play_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{1,768},{146,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 4 6 0 2 3 4 0 1 2 4 0 2</string>
                <key>vertices</key>
                <string>146 32 146 136 105 148 3 148 0 100 0 15 40 0 123 0</string>
                <key>verticesUV</key>
                <string>147 800 147 904 106 916 4 916 1 868 1 783 41 768 124 768</string>
            </dict>
            <key>06_Play_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{525,659},{146,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 7 8 5 6 7 3 5 7 3 4 5 2 7 0 0 1 2 2 3 7</string>
                <key>vertices</key>
                <string>146 31 146 137 103 148 49 148 12 145 0 107 0 12 45 0 123 0</string>
                <key>verticesUV</key>
                <string>671 690 671 796 628 807 574 807 537 804 525 766 525 671 570 659 648 659</string>
            </dict>
            <key>06_Play_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,148}</string>
                <key>spriteSourceSize</key>
                <string>{146,148}</string>
                <key>textureRect</key>
                <string>{{377,720},{146,148}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 6 7 3 5 7 3 4 5 2 0 1 2 3 0 0 3 7</string>
                <key>vertices</key>
                <string>146 28 146 130 115 146 96 148 0 148 0 40 20 0 118 0</string>
                <key>verticesUV</key>
                <string>523 748 523 850 492 866 473 868 377 868 377 760 397 720 495 720</string>
            </dict>
            <key>06_Reload_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{673,785},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 2 0 1 2 3 4 2 4 0 0 4 6</string>
                <key>vertices</key>
                <string>147 36 147 123 121 147 17 147 0 112 0 0 125 0</string>
                <key>verticesUV</key>
                <string>820 821 820 908 794 932 690 932 673 897 673 785 798 785</string>
            </dict>
            <key>06_Reload_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{673,636},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 6 7 4 5 6 4 6 3 0 1 3 1 2 3 0 3 6</string>
                <key>vertices</key>
                <string>147 37 147 147 17 147 0 111 0 28 21 5 44 0 125 0</string>
                <key>verticesUV</key>
                <string>820 673 820 783 690 783 673 747 673 664 694 641 717 636 798 636</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{974,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85bb04a4d19d10b7c17a6c6631aa99a4:096c2734239203b52e0d5bbb91756774:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
