<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-172}</string>
                <key>spriteSize</key>
                <string>{2048,620}</string>
                <key>spriteSourceSize</key>
                <string>{2048,1546}</string>
                <key>textureRect</key>
                <string>{{0,1108},{2048,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-219}</string>
                <key>spriteSize</key>
                <string>{2048,1108}</string>
                <key>spriteSourceSize</key>
                <string>{2048,1546}</string>
                <key>textureRect</key>
                <string>{{0,0},{2048,1108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>backgrounds-1.png</string>
            <key>size</key>
            <string>{2048,1728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3736c82f62cc37f5c48602654f8eb50:8274bc5db8cdbcdb62955805d3626f45:78f31dad7f2b3c2869039e01ef75ce6f$</string>
            <key>textureFileName</key>
            <string>backgrounds-1.png</string>
        </dict>
    </dict>
</plist>
