<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>levels</string>
            <key>version</key>
            <dict>
                <key>major</key>
                <integer>1</integer>
                <key>minor</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>levels</key>
        <array>
            <dict>
                <key>map</key>
                <string>maps/level_001.tmx</string>
                <key>name</key>
                <string>Small Beginnings</string>
                <key>time_limit</key>
                <integer>20</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/level_002.tmx</string>
                <key>name</key>
                <string>Yikes, Spikes</string>
                <key>time_limit</key>
                <integer>70</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/level_003.tmx</string>
                <key>name</key>
                <string>Saw It</string>
                <key>time_limit</key>
                <integer>40</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 4</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 5</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 6</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 7</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 8</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 9</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 10</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 11</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
            <dict>
                <key>map</key>
                <string>maps/demo_map.tmx</string>
                <key>name</key>
                <string>demo level 12</string>
                <key>time_limit</key>
                <integer>50</integer>
                <key>music</key>
                <string>sounds/Chasers.mp3</string>
            </dict>
        </array>
    </dict>
</plist>
