<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Idle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{273,468}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,53},{273,468}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{273,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,55},{273,466}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,0},{273,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,56},{273,465}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,466},{273,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,58},{273,463}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,467},{273,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,58},{273,463}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,468},{273,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,58},{273,463}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,0},{273,464}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,57},{273,464}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,465},{273,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,56},{273,465}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,0},{273,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,55},{273,466}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,0},{273,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,54},{273,467}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>robot.png</string>
			</dict>
		</dict>
</plist>