<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jump_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,482},{285,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,66},{285,462}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1446,0},{325,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,59},{325,481}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,498},{340,449}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{96,57},{340,449}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,498},{341,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,57},{341,444}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,0},{351,428}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,58},{351,428}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,475},{379,411}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,58},{379,411}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{384,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,58},{384,474}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,475},{383,471}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,58},{383,471}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,0},{353,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,58},{353,497}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Jump_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,0},{327,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,60},{327,494}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>robot2.png</string>
			</dict>
		</dict>
</plist>