<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Idle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,947},{273,468}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,53},{273,468}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,1396},{273,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,55},{273,466}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,930},{273,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,56},{273,465}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,464},{273,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,58},{273,463}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,0},{273,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,58},{273,463}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,0},{273,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,58},{273,463}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,928},{273,464}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,57},{273,464}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,464},{273,465}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,56},{273,465}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1416},{273,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,55},{273,466}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,947},{273,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,54},{273,467}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Run_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1393},{257,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,54},{257,483}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Run_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,0},{254,492}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,54},{254,492}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Run_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,967},{327,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,55},{327,463}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Run_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1431},{310,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{96,54},{310,474}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Run_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,471},{296,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,54},{296,475}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Run_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{335,495}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,54},{335,495}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Run_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{366,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,55},{366,470}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

			<key>Run_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1431},{313,477}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,54},{313,477}}</string>
				<key>sourceSize</key>
				<string>{567,556}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>robot1.png</string>
			</dict>
		</dict>
</plist>